@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: local('SF Pro Display'), local('SF-Pro-Display');
}

:root {
    --color-brand: #4faf98;
    --color-brand-secondary: #015442;
    --color-white: #fff;
    --color-dark: #333;
    --color-grey: #eee;
}

*, *:before, *:after {
    font-family: 'SF Pro Display', 'Segoe UI', 'Roboto', Arial, sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--color-brand);
    color: var(--color-dark);
    height: 100vh;
}

h1, h2 {
    font-weight: normal;
}

header {
    background-color: var(--color-brand);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 1020px;
    margin: auto;
    position: relative;
}

.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
}

.panel {
    background-color: var(--color-white);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button,
.button {
    display: inline-block;
    background-color: var(--color-brand);
    border: none;
    color: var(--color-white);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

button:hover,
.button:hover {
    background-color: var(--color-brand-secondary);
    transition: background-color .2s ease-in-out;
}

footer {
    background-color: var(--color-grey);
    color: var(--color-dark);
    text-align: center;
    padding: 10px;
    position: static;
    width: 100%;
    bottom: 0;
}
