<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pricing Team Details</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <header>
        <h1>Pricing Team Details</h1>
    </header>
    <main>
        <a href="../index.html" class="back-btn">
            <img src="../assets/svg/arrow-left.svg">
        </a>
        <section class="panel">
            <h2>About the Pricing Team</h2>
            <p>
                The Pricing team owns the full technology stack which powers our trading strategies (backend) and provides trading tools to our internal market-making team (frontend). 
                The backend services owned and maintained by the team include connecting to trading exchanges, trading and backtesting strategies, as well as managing order flow and trade execution. 
                Naturally the engineers work closely with our quant and trading teams to implement these underlying services which drive our revenue generation.
            </p>
            <p>
                The frontend trading web-based order management system is written in Javascript using React library. 
                Recently the Pricing team has been working on tech stack consolidation on devops side and rewriting a 
                number of core services into a more modern technology stack (eg, migrating from Python to Rust) in order to drive down latency on our trading strategies for optimal performance.
            </p>
            <p>
                We believe in using the best tools for the job. We support two programming languages - 
                a fast compiled language (Rust) for critical path operations and a slower interpreted one (Python) for other tasks. 
                We are moving from Redis pub/sub to a more event-driven microservice architecture powered by Kafka as it offers high availability, low latency, and message persistence. Our database engine is PostgreSQL.
            </p>
            <p> 
                Our services are hosted on the EKS flavour of K8S. We are obsessed with observability and rely on tools such as Grafana, Kibana, and Elasticsearch for our logging monitoring and alerting needs.
            </p>
            <button class="button" id="join-btn" data-team="Pricing Team">Join Pricing Team</button>
        </section>
    </main>
    <footer>
        <p> For more information please kindly contact Jane Sumbilla | jane@sample.com</p>
    </footer>
    <script src="../assets/js/script.js"></script>
</body>
</html>
